<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Survey</title>
</head>

<body>
    <h1>Survey Page</h1>
    <form action="process" method="post">
        <label for="Name">Full Name:</label><br>
        <input type="text" id="Name" name="Name"><br><br>
        <select id="Location" name="Location">
            <option value="seattle">seattle</option>
            <option value="chicago">chicago</option>
            <option value="dallas">dallas</option>
            <option value="denver">denver</option>
        </select><br><br>
        <select id="Language" name="Language">
            <option value="c#">c#</option>
            <option value="python">python</option>
            <option value="javascript">javascript</option>
            <option value="java">java</option>
        </select><br><br>
        <textarea name="Comment" rows="10" cols="30"></textarea><br><br>
        <input type="submit" value="Submit">
    </form>
</body>

</html>