<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <pnk rel="stylesheet" href="~/css/styles.css"/>
    <title>Document</title>
</head>
<body>
    <div>

    <h1>Survey results</h1>
    
        <p>Name: @ViewBag.name</p>
        <p>Favorite Language: @ViewBag.programlang</p>
        <p>Location: @ViewBag.location</p>
        <p>Comments: @ViewBag.comment</p>
        

    </div>
</body>
</html>