
    @model dojo_survey.Models.Survey
    <div>
 
    <h1>Survey results</h1>
  

  
    <h3>Name: @Model.Name</h3>
    
    <h3>Location: @Model.Location</h3>
    <h3>Language: @Model.Language</h3>
    <h3>Comment: @Model.Comments</h3>


        

    </div>
